.title {
    display: flex;
    justify-content: space-between;
    padding: 3.5%;
    color: white;
    font-size: x-large;
    text-shadow: 2px 2px 4px #000000;
}

.navBar {
    background-color: royalblue;
    height: 15vmin;
    box-shadow: 2px 4px 8px white;
}
